<div class="main">
  <%= form_with(model: @smoothie_foodstuffs, local: true) do |f|%>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="sign" >new smoothie</div>
    <div class="field">
      <%#= f.label :nickname %><br />
      <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname", class:"form1 un", placeholder:"nickname" %>
    </div>

    <div class="field">
      <%#= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form1 un", placeholder:"email" %>
    </div>

    <div class="field">
      <%#= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", class:"form1 un", placeholder:"password" %>
    </div>

    <div class="field">
      <%#= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form1 un", placeholder:"password confirmation" %>
    </div>

    <div class="field">
      <%#= f.label :password_confirmation %><br />
      <%= f.text_area :profile, autocomplete: "profile", class:"form1 un", placeholder:"profile" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:" submit" %>
    </div>
  <% end %>
</div>